@model IEnumerable<PIAProWeb.Models.dbModels.GruposMusculare>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="css/index.css">
<h1>Index</h1>

<p>
    
    <a class="btn btn-outline-info" asp-action="Create">Create</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Musculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Musculo)
            </td>
            <td>
               
                <a class="btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdGruposMusculares">Edit</a>

                <a class="btn-outline-success" asp-action="Details" asp-route-id="@item.IdGruposMusculares">Details</a>

                <a class="btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdGruposMusculares">Delete</a>
                
            </td>
        </tr>
        }
    </tbody>
</table>
