@model IEnumerable<PIAProWeb.Models.dbModels.GruposMusculare>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Musculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Musculo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGruposMusculares">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGruposMusculares">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGruposMusculares">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
