@model IEnumerable<PIAProWeb.Models.dbModels.Ejercicio>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="css/index.css">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGruposMuscularesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGruposMuscularesNavigation.IdGruposMusculares)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEjercicio">Edit
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                    </svg>
                </a>
 |
                <a asp-action="Details" asp-route-id="@item.IdEjercicio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEjercicio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
