@model IEnumerable<PIAProWeb.Models.dbModels.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>CRUD COMPRAS</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <h5>Fecha de Compra</h5>
            </th>
            <th>
                <h5>Precio total</h5>
            </th>
            <th>
                <h5>Metodo De Pago</h5>
            </th>
            <th>
                <h5>Paquete</h5>
            </th>
            <th>
                <h5>Usuario</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMetodoPagoNavigation.Metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaqueteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCompra">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCompra">Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCompra">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
